.footer {
        width: 100%;
        height: 600px;
        background-color: #121619;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        /* margin-top: 30px; */
      }
      
      .socialMedia svg{
        color: aliceblue;
        margin: 20px;
        font-size: 50px;
        cursor: pointer;
      
      }
      .footer p{
        color: aliceblue;
      }
     .footer h1{
        font-family: Open Sans, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 600;
        font-size: xx-large;
        color: aliceblue;
        /* margin-left: 20px; */
      }
      span{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .footer-containt{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
margin-left: 10px;
color: aliceblue;
      }
      .same{
        margin: 35px;
        float: left;
      }
      @media only screen and (max-width: 650px){

        .footer {
        display: none;
          }

      }